@model IEnumerable<Moovielist.Models.ViewModel.LivrosModel>

@{
    ViewBag.Title = "List";
}

<h2>Lista Geral</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._Livro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Livro._Genero)
        </th>
        @if (Session["UserID"] != null)
        {
            <th>
                @Html.DisplayNameFor(model => model.Acao)
            </th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Acao)
            @Html.DisplayFor(modelItem => item._Livro.Livro_nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Livro._Genero.Descricao)
        </td>
        <td>
            @if (Session["UserID"] != null)
            {
                if (item.Acao)
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item._Livro.LivroID })
                    @Html.Label("|")
                    @Html.ActionLink("Remover", "Delete", new { id = item._Livro.LivroID })
                }
                else
                {
                    @Html.ActionLink("Adicionar", "Add", new { id = item._Livro.LivroID })
                }
            }
        </td>
    </tr>
}

</table>
